<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% questions.forEach(function(question){ %>
      <tr>
        <td><%= question.question %></td>
        <td>
          <a href="/edit?id=<%= question._id %>" class="btn btn-primary"><i class="far fa-edit"></i></a>
        </td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addQuestion"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>